{% extends "base.html" %}

{% block content%}

<div class="table-responsive">
    <table class="table table-bordered">
        <h4> Listado de Categorias</h4>
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre categoria</th>
                <th scope="col">Acciones</th>

            </tr>
        </thead>
        <tbody>
            <tr>
            <!-- Iterar sobre cada categoria -->
                 {% for categoria in categorias %}
                <td >{{ categoria.id }}</td>
                <td>{{ categoria.nombre_categoria }}</td>
               
                <td>
                   
                   <!-- Botón para editar serie -->
                   <a class="btn btn-primary" 
                   href="/categoria/{{ categoria.id }}/editar/"
                   >Editar</a>
                   <!-- Botón para eliminar serie -->
                   <a type="button" class="btn btn-danger"
                   href="/categoria/{{ categoria.id }}/eliminar/"
                       >Eliminar</button>
                        
                </td>
                
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="submit" class="btn btn-success" style="margin-right:5px;" ><a href={% url "create_categoria" %}>Añadir
        nueva categoria
    </a></button> 
    
</div>
{%endblock%}