{% extends "base.html" %}

{% block content%}

<section class="bg-light py-5">
  <div class="container px-5">
  <div class="row gx-5 justify-content-center">
  <div class="col-xxl-8">
      <div class="text-left my-5">

  <h2 class="display-5 fw-bolder"><span class="text-gradient d-inline">Gestorías en Argentina</span></h2>
    
  <div class="row">
    <h3> Tiene pereza? Contactese con un  gestor </h3>
  </div>
                          

  <div class="row justify-content-center">
    {% for gestor in gestores %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{ gestor.nombre_gestoria }}</h5>
          <img src="{{ gestor.logo_gestoria.url }}" width="200" alt="Logo">
          <p class="card-text"><strong>Servicios: </strong>{{ gestor.servicios }}</p>
          <p class="card-text"><strong>Correo electrónico: </strong>{{ gestor.email }}</p>
          <p class="card-text"><strong>Teléfono: </strong>{{ gestor.telefono }}</p>
          <p class="card-text"><strong>Pais: </strong>{{ gestor.pais }}</p>
          <p class="card-text"><strong>Ciudad: </strong>{{ gestor.ciudad }}</p>
          <p class="card-text"><strong>Sitio web: </strong>{{ gestor.sitio_web }}</p>
        </div>
      </div>
    {% empty %}
      <p>No hay gestores disponibles</p>
    {% endfor %}
  </div>

{%endblock%}