{% extends "base.html" %}

{% block content%}

<section class="bg-light py-5">
  <div class="container px-5">
  <div class="row gx-5 justify-content-center">
  <div class="col-xxl-8">
      <div class="text-left my-5">

  <h2 class="display-5 fw-bolder"><span class="text-gradient d-inline">Gestorías en Argentina</span></h2>
    
  <div class="row">
    <h3> Tiene pereza? Contactese con un  gestor </h3>
  </div>
                          
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Logo Gestoria">
        <div class="card-body">
          
          <h5 class="card-title">Nombre gestoria</h5>
          <p class="card-text">servicios que brindan.</p>
          <a href="#" class="btn btn-primary">Ver tarjeta de contacto</a>
        </div>
      </div>
    </div>
  </div>

{%endblock%}